misc/level_ws.json
[{"id":"1aff8842.e50078","type":"websocket-listener","path":"/airquality","wholemsg":"false"},{"id":"bf85f17e.407a1","type":"inject","name":"level","topic":"/airquality","payload":"{level:1,door:'false'}","payloadType":"string","repeat":"1","crontab":"","once":false,"x":188,"y":113,"z":"a0c91fd3.5f36e","wires":[["243a491a.dbc5b6"]]},{"id":"a139fea1.5ec6","type":"websocket out","name":"ws","server":"1aff8842.e50078","x":566,"y":207,"z":"a0c91fd3.5f36e","wires":[]},{"id":"209392b5.df6c6e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":527,"y":108,"z":"a0c91fd3.5f36e","wires":[]},{"id":"243a491a.dbc5b6","type":"function","name":"injector1","func":"var bek = {\n\tpayload: {\n\t\tdoor: true,\n\t\twindow:false,\n\t\tbeep:true,\n\t\tlevel: 10,\n\t\ttype:\"airquality\"\n\t}\n}\nreturn bek;","outputs":1,"x":350,"y":214,"z":"a0c91fd3.5f36e","wires":[["a139fea1.5ec6","209392b5.df6c6e"]]}]