coffee/coffee_flows.json
[{"type":"tab","id":"d8e3df4b.271c2","label":"Sheet 3","name":"SQLite DB"},{"type":"tab","id":"35b137ec.ca4ec8","label":"Sheet 4","name":"CoffeeIntakeApp"},{"id":"3c10850a.c3ef7a","type":"sqlitedb","db":"CoffeeIntakeDB"},{"id":"fe5faf2f.01a05","type":"websocket-listener","path":"/","wholemsg":"false"},{"id":"133cbb60.ecc345","type":"sqlitedb","db":"all_database"},{"id":"bfbafe11.4045","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"b2b9f027.4d461","type":"http request","name":"CheckExistence","method":"GET","url":"{{{sqlite_url}}}select?table_name={{table_name}}&where=[{\"col\":\"UserId\",\"op\":\"=\",\"val\":\"{{user_id}}\"}]","x":673.8571472167969,"y":331.33333587646484,"z":"35b137ec.ca4ec8","wires":[["c592ea54.3a6d18"]]},{"id":"3dddfcf3.c22204","type":"function","name":"AddContentType","func":"msg.headers = {\"Content-Type\" : \"application/x-www-form-urlencoded\"}\n\nreturn msg;","outputs":1,"x":942.5195236206055,"y":138.08659553527832,"z":"35b137ec.ca4ec8","wires":[["6b28b27f.94d74c"]]},{"id":"c592ea54.3a6d18","type":"switch","name":"CheckStatusCode","property":"statusCode","rules":[{"t":"eq","v":404,"v2":0},{"t":"eq","v":200,"v2":0}],"checkall":"false","outputs":2,"x":176.23380279541016,"y":460.21644401550293,"z":"35b137ec.ca4ec8","wires":[["cc27eefa.33d81"],["90ffc795.6f0038"]]},{"id":"697fc073.96804","type":"http request","name":"AddNewUser","method":"POST","url":"http://127.0.0.1:1881/sqlite/insert","x":1106.2857131958008,"y":417.1904480457306,"z":"35b137ec.ca4ec8","wires":[["e4e307f4.1b1cf8"]]},{"id":"6935235a.96cadc","type":"http request","name":"IncrementIntake","method":"PUT","url":"http://127.0.0.1:1881/sqlite/update","x":963.5715026855469,"y":540.0476810932159,"z":"35b137ec.ca4ec8","wires":[["e4e307f4.1b1cf8"]]},{"id":"ad7f8c7a.52807","type":"change","action":"replace","property":"user_id","from":"","to":"msg.payload.UserId","reg":false,"name":"SetMsgUderId","x":287.9999694824219,"y":331.47618865966797,"z":"35b137ec.ca4ec8","wires":[["7710f5ec.88ef0c"]]},{"id":"bb541f31.44abe","type":"function","name":"AddContentType","func":"msg.headers = {\"Content-Type\" : \"application/x-www-form-urlencoded\"}\n\nreturn msg;","outputs":1,"x":924.8819351196289,"y":417.904727935791,"z":"35b137ec.ca4ec8","wires":[["697fc073.96804"]]},{"id":"13193a72.ece6c6","type":"function","name":"AddContentType","func":"msg.headers = {\"Content-Type\" : \"application/x-www-form-urlencoded\"}\n\nreturn msg;","outputs":1,"x":772.8571090698242,"y":540.4047501087189,"z":"35b137ec.ca4ec8","wires":[["6935235a.96cadc"]]},{"id":"cc27eefa.33d81","type":"template","name":"AddPayloadAsBody","field":"payload","template":"table_name={{table_name}}&cols=[\"UserId\",\"Intake\"]&vals=[\"{{user_id}}\",\"1\"]","x":720.0000228881836,"y":417.61901926994324,"z":"35b137ec.ca4ec8","wires":[["bb541f31.44abe"]]},{"id":"8a9d5f7c.7562a","type":"template","name":"AddPayloadAsBody","field":"payload","template":"table_name={{table_name}}&cols=[\"Intake\"]&vals=[\"{{intake}}\"]&where=[{\"col\":\"UserId\",\"op\":\"=\",\"val\":\"{{user_id}}\"}]","x":579.2856903076172,"y":540.0476067066193,"z":"35b137ec.ca4ec8","wires":[["13193a72.ece6c6"]]},{"id":"89348bf2.76cb78","type":"function","name":"FirstElement","func":"msg.payload = msg.payload[0]\n\nreturn msg;","outputs":1,"x":525.7936553955078,"y":499.46036648750305,"z":"35b137ec.ca4ec8","wires":[["f89e4e5c.0761b"]]},{"id":"a6acd43f.595328","type":"inject","name":"InitConst","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":93.57142639160156,"y":152.90476608276367,"z":"35b137ec.ca4ec8","wires":[["bf0a157.f40f5e8"]]},{"id":"bf0a157.f40f5e8","type":"function","name":"InitConst","func":"context.global.sqliteTableName = \"CoffeeIntake\"\ncontext.global.sqliteUrl = \"http://127.0.0.1:1881/sqlite/\"","outputs":"0","x":258.7142868041992,"y":153.04761791229248,"z":"35b137ec.ca4ec8","wires":[]},{"id":"7710f5ec.88ef0c","type":"function","name":"CopyConstToMsg","func":"msg.table_name = context.global.sqliteTableName\nmsg.sqlite_url = context.global.sqliteUrl\n\nreturn msg;","outputs":1,"x":477.9999694824219,"y":331.33333587646484,"z":"35b137ec.ca4ec8","wires":[["b2b9f027.4d461"]]},{"id":"90ffc795.6f0038","type":"json","name":"","x":386.4285202026367,"y":499.6190483570099,"z":"35b137ec.ca4ec8","wires":[["89348bf2.76cb78"]]},{"id":"f89e4e5c.0761b","type":"function","name":"IncrementIntake","func":"intake = parseInt(msg.payload.Intake)\nmsg.intake = intake+1\n\nreturn msg;","outputs":1,"x":690.7143402099609,"y":499.619042634964,"z":"35b137ec.ca4ec8","wires":[["8a9d5f7c.7562a"]]},{"id":"b1299640.4ed668","type":"mqtt in","name":"","topic":"/le/Coffee/Intake","broker":"bfbafe11.4045","x":92.14285278320312,"y":267.76192474365234,"z":"35b137ec.ca4ec8","wires":[["38b46ddd.c74b92"]]},{"id":"38b46ddd.c74b92","type":"json","name":"","x":137,"y":331.33333587646484,"z":"35b137ec.ca4ec8","wires":[["ad7f8c7a.52807"]]},{"id":"d131bb32.2ece48","type":"comment","name":"README","info":"mosquitto_pub -t coffee -m \"{\\\"UserId\\\":10}\"\n","x":75,"y":51.66669273376465,"z":"35b137ec.ca4ec8","wires":[]},{"id":"e4e307f4.1b1cf8","type":"http request","name":"GetCoffeeIntake","method":"GET","url":"{{{sqlite_url}}}select?table_name={{table_name}}&where=[{\"col\":\"UserId\",\"op\":\"=\",\"val\":\"{{user_id}}\"}]","x":518.75,"y":657.75,"z":"35b137ec.ca4ec8","wires":[["83676771.7c9898"]]},{"id":"e956ecad.16a91","type":"websocket out","name":"SendToWS","server":"fe5faf2f.01a05","x":1160.2500190734863,"y":657.7500114440918,"z":"35b137ec.ca4ec8","wires":[]},{"id":"83676771.7c9898","type":"switch","name":"CheckStatusCode","property":"statusCode","rules":[{"t":"eq","v":200,"v2":0}],"checkall":"false","outputs":1,"x":712.7500076293945,"y":657.7500114440918,"z":"35b137ec.ca4ec8","wires":[["9c1682db.63e98"]]},{"id":"9c1682db.63e98","type":"json","name":"","x":876.7500114440918,"y":657.7500123977661,"z":"35b137ec.ca4ec8","wires":[["62f9162d.9d06e8"]]},{"id":"62f9162d.9d06e8","type":"function","name":"PackMsg","func":"msg.payload = msg.payload[0]\nmsg.payload.type = \"coffee\"\n\nreturn msg;","outputs":1,"x":1012.1151466369629,"y":657.5913305282593,"z":"35b137ec.ca4ec8","wires":[["e956ecad.16a91"]]},{"id":"8f0a67bd.70f598","type":"function","name":"DROP","func":" \nmsg.topic =\n\t\"DROP TABLE \" + msg.payload.table_name + \";\";\n\nreturn msg","outputs":1,"x":466.9722328186035,"y":595.0000114440918,"z":"d8e3df4b.271c2","wires":[["2fd305ec.d02cfa"]]},{"id":"e9e45c4.f161ba","type":"function","name":"CREATE","func":"msg.topic = \n\t\t\"create table if not exists \" + msg.payload.table_name +\n\t\t \" \" + msg.payload.table_parameter\n\t\t//+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t//+\"Intake integer DEFAULT 0);\"\n\nreturn msg","outputs":1,"x":475.97222900390625,"y":222,"z":"d8e3df4b.271c2","wires":[["2fd305ec.d02cfa"]]},{"id":"83c017e9.7c3fe8","type":"http in","name":"SELECT","url":"/sqlite/select","method":"get","x":61,"y":147.11111450195312,"z":"d8e3df4b.271c2","wires":[["43aeda90.bc5124"]]},{"id":"2fd305ec.d02cfa","type":"sqlite","mydb":"133cbb60.ecc345","name":"all database","x":805.5,"y":323,"z":"d8e3df4b.271c2","wires":[["5afcf56c.a5030c"]]},{"id":"c8af3b49.3750c8","type":"http in","name":"CREATE","url":"/sqlite/create","method":"post","x":58.5,"y":224,"z":"d8e3df4b.271c2","wires":[["f3fdcba8.0c0238"]]},{"id":"a0a46448.5f5b98","type":"http in","name":"UPDATE","url":"/sqlite/update","method":"put","x":64.5,"y":426,"z":"d8e3df4b.271c2","wires":[["7c183c17.83e7c4"]]},{"id":"9218c2f9.6de74","type":"http in","name":"INSERT","url":"/sqlite/insert","method":"post","x":56.5,"y":313,"z":"d8e3df4b.271c2","wires":[["17e26264.e81d9e"]]},{"id":"2fe240b2.d01dc","type":"http in","name":"DELETE","url":"/sqlite/delete","method":"delete","x":61.75,"y":519.7500076293945,"z":"d8e3df4b.271c2","wires":[["af96e191.50692"]]},{"id":"fb5e16fe.04a1e8","type":"http in","name":"DROP","url":"/sqlite/drop","method":"delete","x":59.75,"y":594.7500095367432,"z":"d8e3df4b.271c2","wires":[["446f365e.bb90c8"]]},{"id":"5df772ad.a2088c","type":"function","name":"INSERT","func":"msg.topic = \n\t\t\"INSERT INTO \" + msg.payload.table_name\t\t+ \n\t\tmsg.payload.col_query + \" values \" + \n\t\tmsg.payload.val_query;\n\nreturn msg;","outputs":1,"x":471.5,"y":313,"z":"d8e3df4b.271c2","wires":[["2fd305ec.d02cfa"]]},{"id":"61ad65ed.9e529c","type":"function","name":"UPDATE","func":"msg.topic = \n\t\t\"UPDATE \" + msg.payload.table_name\n\t\t+ \" SET \" + msg.payload.update_query\n\nif(msg.payload.where_query)\n\tmsg.topic += \" where \" + msg.payload.where_query;\n\nreturn msg","outputs":1,"x":472.25000762939453,"y":427.7500066757202,"z":"d8e3df4b.271c2","wires":[["2fd305ec.d02cfa"]]},{"id":"17c05ee5.e83fa1","type":"function","name":"DELETE","func":"msg.topic = \t\"DELETE FROM \" + msg.payload.table_name;\n\nif(msg.payload.where_query)\n\tmsg.topic += \" WHERE \" + msg.payload.where_query; \n\nreturn msg;","outputs":1,"x":468.75000762939453,"y":519.7500076293945,"z":"d8e3df4b.271c2","wires":[["2fd305ec.d02cfa"]]},{"id":"5afcf56c.a5030c","type":"function","name":"http_response_formatter","func":"if(msg.payload.length > 0){ \n\tmsg.statusCode = 200;\n}\nelse\n\tmsg.statusCode = 404;\n\nmsg.headers = {\n\t\"content-type\":\"application/javascript\"\n} \n\nreturn msg;","outputs":1,"x":1058.5,"y":323,"z":"d8e3df4b.271c2","wires":[["e804abcc.17fb58"]]},{"id":"641b9ed3.9be46","type":"function","name":"SELECT_ONE","func":"msg.topic += \" LIMIT 1\"; \n\nreturn msg","outputs":1,"x":640,"y":93.88888549804688,"z":"d8e3df4b.271c2","wires":[["2fd305ec.d02cfa"]]},{"id":"84995efc.7b66a","type":"inject","name":"DROP","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":765.5,"y":602,"z":"d8e3df4b.271c2","wires":[["185c4cc0.e7a3b3"]]},{"id":"c8e20ef4.371df","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":771.9444427490234,"y":518.1111128330231,"z":"d8e3df4b.271c2","wires":[["f09a97a9.0f6568"]]},{"id":"f09a97a9.0f6568","type":"function","name":"InitConst","func":"context.global.sqlTableName = \"CoffeeIntake\"\n\nreturn { payload: context }","outputs":"1","x":949.7222290039062,"y":517.0000009536743,"z":"d8e3df4b.271c2","wires":[[]]},{"id":"185c4cc0.e7a3b3","type":"function","name":"Drop","func":"var table_name = context.global.sqlTableName\n\nconsole.log(\"table exists\")\ndrop = {\n\ttopic: \"DROP TABLE \"+table_name+\";\"\n}\n\nreturn drop","outputs":1,"x":939.5,"y":601,"z":"d8e3df4b.271c2","wires":[["7d6d8b5e.829274"]]},{"id":"1f2d04d.fe0d2fb","type":"inject","name":"CREATE","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":772.5,"y":640,"z":"d8e3df4b.271c2","wires":[["e17deae0.1e8218"]]},{"id":"e17deae0.1e8218","type":"function","name":"Create","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":938.5,"y":642,"z":"d8e3df4b.271c2","wires":[["7d6d8b5e.829274"]]},{"id":"1be7cb60.e41835","type":"inject","name":"","topic":"SELECT * FROM CoffeeIntake","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":839.1666793823242,"y":562.333338022232,"z":"d8e3df4b.271c2","wires":[["7d6d8b5e.829274"]]},{"id":"e266eede.1d991","type":"inject","name":"INSERT","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":772.2777786254883,"y":688.1111166477203,"z":"d8e3df4b.271c2","wires":[["1a6d4bc7.e592b4"]]},{"id":"1a6d4bc7.e592b4","type":"function","name":"Insert","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"insert into \" + table_name\t\t+\n\t\t\"(UserId, Intake) values ('1','1')\"\n}\n\nreturn create","outputs":1,"x":938.2777786254883,"y":690.1111166477203,"z":"d8e3df4b.271c2","wires":[["7d6d8b5e.829274"]]},{"id":"7d6d8b5e.829274","type":"sqlite","mydb":"133cbb60.ecc345","name":"","x":1230.72220993042,"y":584.2222235202789,"z":"d8e3df4b.271c2","wires":[["c8ab344d.3754c8"]]},{"id":"c8ab344d.3754c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1235.1666564941406,"y":664.4444808959961,"z":"d8e3df4b.271c2","wires":[]},{"id":"2ed6446c.d129bc","type":"function","name":"SELECT","func":"var table_name = msg.payload.table_name;\nvar where_query = msg.payload.where_query;\n \nvar query = \"select * from \" + table_name + \" \" \nif(where_query)\t\n\tquery += \" where \" + where_query ; \n\t\nmsg.topic = query \n\n// select one\nif(msg.req.path.indexOf(\"_one\"))\n{\n\treturn [null, msg]; \n} else {\n// select all\n\treturn [msg,null];\n}\n","outputs":"2","x":471.5,"y":146,"z":"d8e3df4b.271c2","wires":[["641b9ed3.9be46"],["2fd305ec.d02cfa"]]},{"id":"43aeda90.bc5124","type":"function","name":"params_parser","func":"var params = msg.req.query; \n \nvar where_query = \"\"; \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\nmsg.payload = {\n\ttable_name: params.table_name,\n\twhere_query: where_query \n}\n\nreturn msg;","outputs":1,"x":264.5,"y":147,"z":"d8e3df4b.271c2","wires":[["2ed6446c.d129bc"]]},{"id":"f3fdcba8.0c0238","type":"function","name":"params_parser","func":"var params = msg.req.body; \n\nvar table_params = {};\nvar table_param_query = \"\";\n \nif(typeof(params.table_params) != \"undefined\")\n{ \n\ttable_params = JSON.parse(params.table_params) \n\t\t\n\tfor(var i = 0; i < table_params.length; i++){\n\t\ttable_param_query += table_params[i].col + \" \";\n\t\ttable_param_query += table_params[i].type + \" \";\n\t\ttable_param_query += table_params[i].option + \" \";\t\n\t\tif(i < table_params.length - 1)\n\t\t\ttable_param_query += \", \";\n\t} \n}\n\nmsg.payload.\ttable_name = params.table_name;\nmsg.payload.table_parameter = \"(\" + table_param_query + \")\";\n\nreturn msg;","outputs":1,"x":264.5,"y":223,"z":"d8e3df4b.271c2","wires":[["e9e45c4.f161ba"]]},{"id":"b0bb8332.4f448","type":"comment","name":"README","info":"GET /sqlite/select or /sqlite/select_one\nurl parameter:\n1. table_name (string)\n2. where (json string) e.g.: \n[{\n  \"col\":\"username\", \"op\":\"like\", \"val\":\"%test%\", \"chain_op\":\"or\"\n},{...}]\n\nPOST /sqlite/create\nx-www-form-url-encoded\n1. table_name (string)\n2. table_params (json string) e.g.: \n[{  \n  \"col\":\"UserId\", \"type\":\"integer\", \"option\":\"NOT NULL UNIQUE\" \n},{...}]\n\nPOST /sqlite/insert\nx-www-form-url-encoded\n1. table_name (string)\n2. cols (json array) e.g.: [\"user_id\", \"username\"]\n3. vals (json array) e.g.: [1,\"user_a\"]\n\nPUT /sqlite/update\nx-www-form-url-encoded\n1. table_name (string)\n2. cols (json array) e.g.: [\"user_id\", \"username\"]\n3. vals (json array) e.g.: [1,\"user_a\"]\n4. where (json string) e.g.: \n[{\n  \"col\":\"username\", \"op\":\"like\", \"val\":\"%test%\", \"chain_op\":\"or\"\n},{...}]\n\nDELETE /sqlite/delete\nurl parameter\n1. table_name (string) \n2. where (json string) e.g.: \n[{\n  \"col\":\"username\", \"op\":\"like\", \"val\":\"%test%\", \"chain_op\":\"or\"\n},{...}]\n\nDROP /sqlite/drop\nurl parameter\n1. table_name (string)  ","x":66.5,"y":38,"z":"d8e3df4b.271c2","wires":[]},{"id":"17e26264.e81d9e","type":"function","name":"params_parser","func":"var params = msg.req.body; \n \nvar col_query = \"\";\nvar val_query = \"\";\n\nif(typeof(params.cols) != \"undefined\")\n{ \n\tvar columns = JSON.parse(params.cols) \n\t\t\n\tfor(var i = 0; i < columns.length; i++){\n\t\tcol_query += columns[i] + \" \";\t\n\t\tif(i < columns.length - 1)\n\t\t\tcol_query += \", \";\n\t} \n}\n\nif(typeof(params.vals) != \"undefined\")\n{ \n\tvar values = JSON.parse(params.vals) \n\t\t\n\tfor(var i = 0; i < values.length; i++){\n\t\tval_query += \"'\" + values[i] + \"'\";\t\n\t\tif(i < values.length - 1)\n\t\t\tval_query += \", \";\n\t} \n}\n\nmsg.payload.\ttable_name = params.table_name;\nmsg.payload.col_query = \"(\" + col_query + \")\";\nmsg.payload.val_query = \"(\" + val_query + \")\";\n\nreturn msg;","outputs":1,"x":263.5,"y":313,"z":"d8e3df4b.271c2","wires":[["5df772ad.a2088c"]]},{"id":"7c183c17.83e7c4","type":"function","name":"params_parser","func":"var params = msg.req.body;\n\nvar update_query = \"\"; \nvar where_query = \"\"; \n\nif(typeof(params.cols) != \"undefined\")\n{  \n\tvar columns = JSON.parse(params.cols); \n\tvar values = JSON.parse(params.vals);\n\t\n\tfor(var i = 0; i < columns.length; i++){\n\t\tupdate_query += columns[i] + \" = \";\n\t\tupdate_query += values[i] + \" \";\n\t\t\n\t\tif(i < columns.length - 1)\n\t\t\tupdate_query += \", \";\n\t} \n}\n  \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.update_query = update_query; \nmsg.payload.where_query = where_query;\nmsg.payload.\ttable_name = \"\"+params.table_name;\n\nreturn msg;","outputs":1,"x":255.50000381469727,"y":426.7500057220459,"z":"d8e3df4b.271c2","wires":[["61ad65ed.9e529c"]]},{"id":"af96e191.50692","type":"function","name":"params_parser","func":"var params = msg.req.query; \n \nvar where_query = \"\"; \n \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.\ttable_name = params.table_name; \nmsg.payload.where_query = where_query;\n\nreturn msg;","outputs":1,"x":253,"y":519.2500076293945,"z":"d8e3df4b.271c2","wires":[["17c05ee5.e83fa1"]]},{"id":"446f365e.bb90c8","type":"function","name":"params_parser","func":"var params = msg.req.query;\n   \n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.table_name = params.table_name;  \n\nreturn msg;","outputs":1,"x":253.00000381469727,"y":595.5000095367432,"z":"d8e3df4b.271c2","wires":[["8f0a67bd.70f598"]]},{"id":"e804abcc.17fb58","type":"http response","name":"http response","x":1302.5,"y":321,"z":"d8e3df4b.271c2","wires":[]},{"id":"3b6268b1.c49d98","type":"inject","name":"DropCoffeeTable","topic":"","payload":"table_name=CoffeeIntake","payloadType":"string","repeat":"","crontab":"01 00 * * *","once":false,"x":119.69698715209961,"y":211.21211528778076,"z":"35b137ec.ca4ec8","wires":[["f5072ecd.0af8d"]]},{"id":"e4f4c718.1b0b38","type":"change","action":"replace","property":"payload","from":"","to":"table_name=CoffeeIntake&table_params=[{\"col\":\"UserId\", \"type\":\"integer\", \"option\":\"NOT NULL UNIQUE\"},{\"col\":\"Intake\", \"type\":\"integer\", \"option\":\"DEFAULT 0\"}]","reg":false,"name":"CreateCoffeeTable","x":746.5151634216309,"y":138.4848804473877,"z":"35b137ec.ca4ec8","wires":[["3dddfcf3.c22204"]]},{"id":"b000302c.4fffd","type":"function","name":"ResetMsg","func":"msg.payload = {}\n\nreturn msg;","outputs":1,"x":677.7878265380859,"y":211.66670036315918,"z":"35b137ec.ca4ec8","wires":[["e4f4c718.1b0b38"]]},{"id":"efd6f25b.10291","type":"http request","name":"DropCoffeeTable","method":"DELETE","url":"{{{sqlite_url}}}drop?table_name={{table_name}}","x":506.15149688720703,"y":211.51515102386475,"z":"35b137ec.ca4ec8","wires":[["b000302c.4fffd"]]},{"id":"6b28b27f.94d74c","type":"http request","name":"CreateCoffeeTable","method":"POST","url":"{{{sqlite_url}}}create","x":1139.3332290649414,"y":138.42424774169922,"z":"35b137ec.ca4ec8","wires":[[]]},{"id":"f5072ecd.0af8d","type":"function","name":"CopyConstToMsg","func":"msg.table_name = context.global.sqliteTableName\nmsg.sqlite_url = context.global.sqliteUrl\n\nreturn msg;","outputs":1,"x":311.78785705566406,"y":211.69696760177612,"z":"35b137ec.ca4ec8","wires":[["efd6f25b.10291"]]},{"id":"e687e6c6.197818","type":"inject","name":"CreateCoffeeTable","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":380.6060485839844,"y":80.6060562133789,"z":"35b137ec.ca4ec8","wires":[["e78219c.f187de8"]]},{"id":"e78219c.f187de8","type":"function","name":"CopyConstToMsg","func":"msg.table_name = context.global.sqliteTableName\nmsg.sqlite_url = context.global.sqliteUrl\n\nreturn msg;","outputs":1,"x":576.9696464538574,"y":80.6060676574707,"z":"35b137ec.ca4ec8","wires":[["e4f4c718.1b0b38"]]}]