coffee/coffee_flows.json
[{"type":"tab","id":"d8e3df4b.271c2","label":"Sheet 3","name":"SQLite"},{"type":"tab","id":"35b137ec.ca4ec8","label":"Sheet 4","name":"CoffeeServer"},{"id":"3c10850a.c3ef7a","type":"sqlitedb","db":"CoffeeIntakeDB"},{"id":"fe5faf2f.01a05","type":"websocket-listener","path":"/ws/CoffeeIntake","wholemsg":"false"},{"id":"133cbb60.ecc345","type":"sqlitedb","db":"all_database"},{"id":"bfbafe11.4045","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"55674678.aa98b8","type":"function","name":"DROP","func":" \nmsg.topic =\n\t\"DROP TABLE \" + msg.payload.table_name + \";\";\n\nreturn msg","outputs":1,"x":469.9999694824219,"y":600.5555665493011,"z":"d8e3df4b.271c2","wires":[["ae28116.f51d7f"]]},{"id":"2980e52e.d67f1a","type":"function","name":"CREATE","func":"msg.topic = \n\t\t\"create table if not exists \" + msg.payload.table_name +\n\t\t \" \" + msg.payload.table_parameter\n\t\t//+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t//+\"Intake integer DEFAULT 0);\"\n\nreturn msg","outputs":1,"x":478.9999656677246,"y":227.55555510520935,"z":"d8e3df4b.271c2","wires":[["ae28116.f51d7f"]]},{"id":"5150079e.aeaff8","type":"http in","name":"SELECT","url":"/sqlite/select","method":"get","x":64.02773666381836,"y":152.66666960716248,"z":"d8e3df4b.271c2","wires":[["2e9f420d.d160be","3317e0ba.cce82"]]},{"id":"ae28116.f51d7f","type":"sqlite","mydb":"133cbb60.ecc345","name":"all database","x":808.5277366638184,"y":328.55555510520935,"z":"d8e3df4b.271c2","wires":[["5ed2e9ba.a12d18","8ec4cf59.713b3"]]},{"id":"e44e5652.1bb1a8","type":"http in","name":"CREATE","url":"/sqlite/create","method":"post","x":61.52773666381836,"y":229.55555510520935,"z":"d8e3df4b.271c2","wires":[["c7929c8e.386d6"]]},{"id":"2696d073.d9693","type":"http in","name":"UPDATE","url":"/sqlite/update","method":"put","x":67.52773666381836,"y":431.55555510520935,"z":"d8e3df4b.271c2","wires":[["84f60b7.f7b09f8","5563a930.aa9c58"]]},{"id":"787e5fdc.8781a","type":"http in","name":"INSERT","url":"/sqlite/insert","method":"post","x":59.52773666381836,"y":318.55555510520935,"z":"d8e3df4b.271c2","wires":[["8755f239.78aa1"]]},{"id":"a48086d2.5b7f78","type":"http in","name":"DELETE","url":"/sqlite/delete","method":"delete","x":64.77773666381836,"y":525.3055627346039,"z":"d8e3df4b.271c2","wires":[["107cb552.ef834b"]]},{"id":"f618a235.09e76","type":"http in","name":"DROP","url":"/sqlite/drop","method":"delete","x":62.77773666381836,"y":600.3055646419525,"z":"d8e3df4b.271c2","wires":[["a54db530.5ab248"]]},{"id":"14f5a3ca.eb0a5c","type":"function","name":"INSERT","func":"msg.topic = \n\t\t\"INSERT INTO \" + msg.payload.table_name\t\t+ \n\t\tmsg.payload.col_query + \" values \" + \n\t\tmsg.payload.val_query;\n\nreturn msg;","outputs":1,"x":474.52773666381836,"y":318.55555510520935,"z":"d8e3df4b.271c2","wires":[["ae28116.f51d7f"]]},{"id":"2873295a.d78cd6","type":"function","name":"UPDATE","func":"msg.topic = \n\t\t\"UPDATE \" + msg.payload.table_name\n\t\t+ \" SET \" + msg.payload.update_query\n\nif(msg.payload.where_query)\n\tmsg.topic += \" where \" + msg.payload.where_query;\n\nreturn msg","outputs":1,"x":475.2777442932129,"y":433.30556178092957,"z":"d8e3df4b.271c2","wires":[["ae28116.f51d7f"]]},{"id":"3e6bf24f.c1940e","type":"function","name":"DELETE","func":"msg.topic = \t\"DELETE FROM \" + msg.payload.table_name;\n\nif(msg.payload.where_query)\n\tmsg.topic += \" WHERE \" + msg.payload.where_query; \n\nreturn msg;","outputs":1,"x":471.7777442932129,"y":525.3055627346039,"z":"d8e3df4b.271c2","wires":[["ae28116.f51d7f"]]},{"id":"5ed2e9ba.a12d18","type":"function","name":"http_response_formatter","func":"if(msg.payload.length > 0){ \n\tmsg.statusCode = 200;\n}\nelse\n\tmsg.statusCode = 404;\n\nmsg.headers = {\n\t\"content-type\":\"application/javascript\"\n} \n\nreturn msg;","outputs":1,"x":1061.5277366638184,"y":328.55555510520935,"z":"d8e3df4b.271c2","wires":[["7cbcf1ed.83431"]]},{"id":"3cf905f9.c306fa","type":"function","name":"SELECT_ONE","func":"msg.topic += \" LIMIT 1\"; \n\nreturn msg","outputs":1,"x":643.0277366638184,"y":99.44444060325623,"z":"d8e3df4b.271c2","wires":[["ae28116.f51d7f"]]},{"id":"43c906fa.bc36f8","type":"inject","name":"DROP","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":775.5277366638184,"y":607.5555551052094,"z":"d8e3df4b.271c2","wires":[["b68316a7.497ce8"]]},{"id":"7f297fe9.80d68","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":774.9721794128418,"y":523.6666679382324,"z":"d8e3df4b.271c2","wires":[["a06f8a80.5f9078"]]},{"id":"a06f8a80.5f9078","type":"function","name":"InitConst","func":"context.global.sqlTableName = \"CoffeeIntake\"\n\nreturn { payload: context }","outputs":"1","x":952.7499656677246,"y":522.5555560588837,"z":"d8e3df4b.271c2","wires":[[]]},{"id":"b68316a7.497ce8","type":"function","name":"Drop","func":"var table_name = context.global.sqlTableName\n\nconsole.log(\"table exists\")\ndrop = {\n\ttopic: \"DROP TABLE \"+table_name+\";\"\n}\n\nreturn drop","outputs":1,"x":942.5277366638184,"y":606.5555551052094,"z":"d8e3df4b.271c2","wires":[["ce314021.31cec"]]},{"id":"a95e88a0.56a178","type":"inject","name":"CREATE","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":775.5277366638184,"y":645.5555551052094,"z":"d8e3df4b.271c2","wires":[["71811667.8e7ee8"]]},{"id":"71811667.8e7ee8","type":"function","name":"Create","func":"//var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE test_1\"\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":941.5277366638184,"y":647.5555551052094,"z":"d8e3df4b.271c2","wires":[["ce314021.31cec"]]},{"id":"f81a6d51.07e59","type":"inject","name":"","topic":"SELECT * FROM CoffeeIntake","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":842.1944160461426,"y":567.8888931274414,"z":"d8e3df4b.271c2","wires":[["ce314021.31cec"]]},{"id":"577f72dc.a8808c","type":"inject","name":"INSERT","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":775.3055152893066,"y":693.6666717529297,"z":"d8e3df4b.271c2","wires":[["a54c19e6.5ab3e8"]]},{"id":"a54c19e6.5ab3e8","type":"function","name":"Insert","func":"var table_name = \"test_1\";// context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"insert into \" + table_name\t\t+\n\t\t\"(UserId, Intake) values ('1','1')\"\n}\n\nreturn create","outputs":1,"x":941.3055152893066,"y":695.6666717529297,"z":"d8e3df4b.271c2","wires":[["ce314021.31cec"]]},{"id":"ce314021.31cec","type":"sqlite","mydb":"133cbb60.ecc345","name":"","x":1233.7499465942383,"y":589.7777786254883,"z":"d8e3df4b.271c2","wires":[["e5a7ec25.1a581"]]},{"id":"e5a7ec25.1a581","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1426.1944007873535,"y":585,"z":"d8e3df4b.271c2","wires":[]},{"id":"8ec4cf59.713b3","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":986.5277366638184,"y":184.55555510520935,"z":"d8e3df4b.271c2","wires":[]},{"id":"8c9abf9d.73654","type":"function","name":"SELECT","func":"var table_name = msg.payload.table_name;\nvar where_query = msg.payload.where_query;\n \nvar query = \"select * from \" + table_name + \" \" \nif(where_query)\t\n\tquery += \" where \" + where_query ; \n\t\nmsg.topic = query \n\n// select one\nif(msg.req.path.indexOf(\"_one\"))\n{\n\treturn [null, msg]; \n} else {\n// select all\n\treturn [msg,null];\n}\n","outputs":"2","x":474.52773666381836,"y":151.55555510520935,"z":"d8e3df4b.271c2","wires":[[],["ae28116.f51d7f"]]},{"id":"2e9f420d.d160be","type":"function","name":"params_parser","func":"var params = msg.req.query; \n\nvar where_query = \"\"; \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\nmsg.payload = {\n\ttable_name: params.table_name,\n\twhere_query: where_query \n}\n\nreturn msg;","outputs":1,"x":267.52773666381836,"y":152.55555510520935,"z":"d8e3df4b.271c2","wires":[["8c9abf9d.73654","f6f2e093.090d2"]]},{"id":"c7929c8e.386d6","type":"function","name":"params_parser","func":"var params = msg.req.body; \n\nvar table_params = {};\nvar table_param_query = \"\";\n \nif(typeof(params.table_params) != \"undefined\")\n{ \n\ttable_params = JSON.parse(params.table_params) \n\t\t\n\tfor(var i = 0; i < table_params.length; i++){\n\t\ttable_param_query += table_params[i].col + \" \";\n\t\ttable_param_query += table_params[i].type + \" \";\n\t\ttable_param_query += table_params[i].option + \" \";\t\n\t\tif(i < table_params.length - 1)\n\t\t\ttable_param_query += \", \";\n\t} \n}\n\nmsg.payload.\ttable_name = params.table_name;\nmsg.payload.table_parameter = \"(\" + table_param_query + \")\";\n\nreturn msg;","outputs":1,"x":267.52773666381836,"y":228.55555510520935,"z":"d8e3df4b.271c2","wires":[["2980e52e.d67f1a"]]},{"id":"5db08d81.a24f74","type":"comment","name":"commands","info":"GET /sqlite/select or /sqlite/select_one\nurl parameter:\n1. table_name (string)\n2. where (json string) e.g.: \n[{\n  col:\"username\", op:\"like\", val:\"%test%\", chain_op:\"or\"\n},{...}]\n\nPOST /sqlite/create\nx-www-form-url-encoded\n1. table_name (string)\n2. table_params (json string) e.g.: \n[{  \n  col:\"UserId\", type:\"integer\", option:\"NOT NULL UNIQUE\" \n},{...}]\n\nPOST /sqlite/insert\nx-www-form-url-encoded\n1. table_name (string)\n2. cols (json array) e.g.: [user_id, username]\n3. vals (json array) e.g.: [1,'user_a']\n\nPOST /sqlite/update\nx-www-form-url-encoded\n1. table_name (string)\n2. cols (json array) e.g.: [user_id, username]\n3. vals (json array) e.g.: [1,'user_a']\n4. where (json string) e.g.: \n[{\n  col:\"username\", op:\"like\", val:\"%test%\", chain_op:\"or\"\n},{...}]\n\nDELETE /sqlite/delete\nurl parameter\n1. table_name (string) \n2. where (json string) e.g.: \n[{\n  col:\"username\", op:\"like\", val:\"%test%\", chain_op:\"or\"\n},{...}]\n\nDROP /sqlite/drop\nurl parameter\n1. table_name (string)  ","x":485.52773666381836,"y":25.55555510520935,"z":"d8e3df4b.271c2","wires":[]},{"id":"8755f239.78aa1","type":"function","name":"params_parser","func":"var params = msg.req.body; \n \nvar col_query = \"\";\nvar val_query = \"\";\n\nif(typeof(params.cols) != \"undefined\")\n{ \n\tvar columns = JSON.parse(params.cols) \n\t\t\n\tfor(var i = 0; i < columns.length; i++){\n\t\tcol_query += columns[i] + \" \";\t\n\t\tif(i < columns.length - 1)\n\t\t\tcol_query += \", \";\n\t} \n}\n\nif(typeof(params.vals) != \"undefined\")\n{ \n\tvar values = JSON.parse(params.vals) \n\t\t\n\tfor(var i = 0; i < values.length; i++){\n\t\tval_query += \"'\" + values[i] + \"'\";\t\n\t\tif(i < values.length - 1)\n\t\t\tval_query += \", \";\n\t} \n}\n\nmsg.payload.\ttable_name = params.table_name;\nmsg.payload.col_query = \"(\" + col_query + \")\";\nmsg.payload.val_query = \"(\" + val_query + \")\";\n\nreturn msg;","outputs":1,"x":266.52773666381836,"y":318.55555510520935,"z":"d8e3df4b.271c2","wires":[["14f5a3ca.eb0a5c"]]},{"id":"f454b933.0bab48","type":"debug","name":"","active":true,"console":"false","complete":"true","x":468.0277442932129,"y":481.30556082725525,"z":"d8e3df4b.271c2","wires":[]},{"id":"84f60b7.f7b09f8","type":"function","name":"params_parser","func":"var params = msg.req.body;\n\nvar update_query = \"\"; \nvar where_query = \"\"; \n\nif(typeof(params.cols) != \"undefined\")\n{  \n\tvar columns = JSON.parse(params.cols); \n\tvar values = JSON.parse(params.vals);\n\t\n\tfor(var i = 0; i < columns.length; i++){\n\t\tupdate_query += columns[i] + \" = \";\n\t\tupdate_query += values[i] + \" \";\n\t\t\n\t\tif(i < columns.length - 1)\n\t\t\tupdate_query += \", \";\n\t} \n}\n  \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.update_query = update_query; \nmsg.payload.where_query = where_query;\nmsg.payload.\ttable_name = \"\"+params.table_name;\n\nreturn msg;","outputs":1,"x":258.5277404785156,"y":432.30556082725525,"z":"d8e3df4b.271c2","wires":[["2873295a.d78cd6"]]},{"id":"107cb552.ef834b","type":"function","name":"params_parser","func":"var params = msg.req.query; \n \nvar where_query = \"\"; \n \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.\ttable_name = params.table_name; \nmsg.payload.where_query = where_query;\n\nreturn msg;","outputs":1,"x":256.02773666381836,"y":524.8055627346039,"z":"d8e3df4b.271c2","wires":[["3e6bf24f.c1940e","f454b933.0bab48"]]},{"id":"a54db530.5ab248","type":"function","name":"params_parser","func":"var params = msg.req.query;\n   \n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.\ttable_name = params.table_name;  \n\nreturn msg;","outputs":1,"x":256.0277404785156,"y":601.0555646419525,"z":"d8e3df4b.271c2","wires":[["55674678.aa98b8","f454b933.0bab48"]]},{"id":"7cbcf1ed.83431","type":"http response","name":"","x":1293.3333740234375,"y":303.8095188140869,"z":"d8e3df4b.271c2","wires":[]},{"id":"b2b9f027.4d461","type":"http request","name":"CheckExistence","method":"GET","url":"{{{sqlite_url}}}select?table_name={{table_name}}&where=[{\"col\":\"UserId\",\"op\":\"=\",\"val\":\"{{user_id}}\"}]","x":569.857177734375,"y":324.33333706855774,"z":"35b137ec.ca4ec8","wires":[["c592ea54.3a6d18"]]},{"id":"31958fcd.ce6a7","type":"inject","name":"CreateCoffeeTable","topic":"","payload":"table_name=CoffeeIntake&table_params=[{\"col\":\"UserId\", \"type\":\"integer\", \"option\":\"NOT NULL UNIQUE\"},{\"col\":\"Intake\", \"type\":\"integer\", \"option\":\"DEFAULT 0\"}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":125.71426391601562,"y":210.47619080543518,"z":"35b137ec.ca4ec8","wires":[["3dddfcf3.c22204"]]},{"id":"4e4ad28d.b1b52c","type":"http request","name":"","method":"POST","url":"http://127.0.0.1:1881/sqlite/create","x":571.4285507202148,"y":211.90476155281067,"z":"35b137ec.ca4ec8","wires":[[]]},{"id":"3dddfcf3.c22204","type":"function","name":"AddContentType","func":"msg.headers = {\"Content-Type\" : \"application/x-www-form-urlencoded\"}\n\nreturn msg;","outputs":1,"x":351.4285507202148,"y":211.90476550374711,"z":"35b137ec.ca4ec8","wires":[["4e4ad28d.b1b52c"]]},{"id":"c592ea54.3a6d18","type":"switch","name":"CheckStatusCode","property":"statusCode","rules":[{"t":"eq","v":404,"v2":0},{"t":"eq","v":200,"v2":0}],"checkall":"false","outputs":2,"x":447.14288330078125,"y":434.76191544532776,"z":"35b137ec.ca4ec8","wires":[["cc27eefa.33d81"],["90ffc795.6f0038"]]},{"id":"697fc073.96804","type":"http request","name":"AddNewUser","method":"POST","url":"http://127.0.0.1:1881/sqlite/insert","x":1114.2857131958008,"y":416.1904480457306,"z":"35b137ec.ca4ec8","wires":[[]]},{"id":"6935235a.96cadc","type":"http request","name":"IncrementIntake","method":"PUT","url":"http://127.0.0.1:1881/sqlite/update","x":1108.5715026855469,"y":599.0476810932159,"z":"35b137ec.ca4ec8","wires":[[]]},{"id":"ad7f8c7a.52807","type":"change","action":"replace","property":"user_id","from":"","to":"msg.payload.UserId","reg":false,"name":"SetMsgUderId","x":151,"y":323.47618985176086,"z":"35b137ec.ca4ec8","wires":[["7710f5ec.88ef0c"]]},{"id":"bb541f31.44abe","type":"function","name":"AddContentType","func":"msg.headers = {\"Content-Type\" : \"application/x-www-form-urlencoded\"}\n\nreturn msg;","outputs":1,"x":913.0357513427734,"y":416.9047338962555,"z":"35b137ec.ca4ec8","wires":[["697fc073.96804"]]},{"id":"13193a72.ece6c6","type":"function","name":"AddContentType","func":"msg.headers = {\"Content-Type\" : \"application/x-www-form-urlencoded\"}\n\nreturn msg;","outputs":1,"x":917.8571090698242,"y":599.4047501087189,"z":"35b137ec.ca4ec8","wires":[["6935235a.96cadc"]]},{"id":"cc27eefa.33d81","type":"template","name":"AddPayloadAsBody","field":"payload","template":"table_name={{table_name}}&cols=[\"UserId\",\"Intake\"]&vals=[\"{{user_id}}\",\"1\"]","x":720.0000228881836,"y":417.61901926994324,"z":"35b137ec.ca4ec8","wires":[["bb541f31.44abe"]]},{"id":"8a9d5f7c.7562a","type":"template","name":"AddPayloadAsBody","field":"payload","template":"table_name={{table_name}}&cols=[\"Intake\"]&vals=[\"{{intake}}\"]&where=[{\"col\":\"UserId\",\"op\":\"=\",\"val\":\"{{user_id}}\"}]","x":724.2856903076172,"y":599.0476067066193,"z":"35b137ec.ca4ec8","wires":[["13193a72.ece6c6"]]},{"id":"89348bf2.76cb78","type":"function","name":"FirstElement","func":"console.log( typeof(msg.payload) )\n\nmsg.payload = msg.payload[0]\n\nreturn msg;","outputs":1,"x":525.7936553955078,"y":538.460366487503,"z":"35b137ec.ca4ec8","wires":[["f89e4e5c.0761b"]]},{"id":"3317e0ba.cce82","type":"debug","name":"","active":false,"console":"false","complete":"req.query","x":255.71429443359375,"y":84.28571319580078,"z":"d8e3df4b.271c2","wires":[]},{"id":"f6f2e093.090d2","type":"debug","name":"","active":false,"console":"false","complete":"payload","x":465.71429443359375,"y":84.28571319580078,"z":"d8e3df4b.271c2","wires":[]},{"id":"a6acd43f.595328","type":"inject","name":"InitConst","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":94.57142639160156,"y":150.90476608276367,"z":"35b137ec.ca4ec8","wires":[["bf0a157.f40f5e8"]]},{"id":"bf0a157.f40f5e8","type":"function","name":"InitConst","func":"context.global.sqliteTableName = \"CoffeeIntake\"\ncontext.global.sqliteUrl = \"http://127.0.0.1:1881/sqlite/\"","outputs":"0","x":261.57142639160156,"y":145.90476608276367,"z":"35b137ec.ca4ec8","wires":[]},{"id":"7710f5ec.88ef0c","type":"function","name":"CopyConstToMsg","func":"msg.table_name = context.global.sqliteTableName\nmsg.sqlite_url = context.global.sqliteUrl\n\nreturn msg;","outputs":1,"x":347,"y":323.33333706855774,"z":"35b137ec.ca4ec8","wires":[["b2b9f027.4d461"]]},{"id":"90ffc795.6f0038","type":"json","name":"","x":386.4285202026367,"y":538.6190483570099,"z":"35b137ec.ca4ec8","wires":[["89348bf2.76cb78"]]},{"id":"f89e4e5c.0761b","type":"function","name":"IncrementIntake","func":"intake = parseInt(msg.payload.Intake)\nmsg.intake = intake+1\n\nreturn msg;","outputs":1,"x":690.7143402099609,"y":538.619042634964,"z":"35b137ec.ca4ec8","wires":[["8a9d5f7c.7562a"]]},{"id":"5563a930.aa9c58","type":"debug","name":"","active":false,"console":"false","complete":"req.body","x":237.1428680419922,"y":374.28570556640625,"z":"d8e3df4b.271c2","wires":[]},{"id":"b1299640.4ed668","type":"mqtt in","name":"","topic":"coffee","broker":"bfbafe11.4045","x":67.14285278320312,"y":266.76192593574524,"z":"35b137ec.ca4ec8","wires":[["38b46ddd.c74b92"]]},{"id":"38b46ddd.c74b92","type":"json","name":"","x":220,"y":266.33333706855774,"z":"35b137ec.ca4ec8","wires":[["ad7f8c7a.52807"]]},{"id":"d131bb32.2ece48","type":"comment","name":"README","info":"mosquitto_pub -t coffee -m \"{\\\"UserId\\\":10}\"\n","x":75,"y":51.66669273376465,"z":"35b137ec.ca4ec8","wires":[]}]