coffee/coffee_flows.json
[{"type":"tab","id":"64764a7c.9b89b4","label":"Sheet 1"},{"type":"tab","id":"7d3e5da4.82c1a4","label":"Sheet 2"},{"id":"3c10850a.c3ef7a","type":"sqlitedb","db":"CoffeeIntakeDB"},{"id":"fe5faf2f.01a05","type":"websocket-listener","path":"/ws/CoffeeIntake","wholemsg":"false"},{"id":"65188dae.9ae774","type":"sqlite","mydb":"3c10850a.c3ef7a","name":"","x":974.5555419921875,"y":246.44442749023438,"z":"64764a7c.9b89b4","wires":[["493f6042.b6c0a"]]},{"id":"4cf7b1d6.b3085","type":"inject","name":"DROP","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":123.22222137451172,"y":123.88888716697693,"z":"64764a7c.9b89b4","wires":[["7479ca0e.8b8634"]]},{"id":"a043ac03.5fbc5","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":122.66666412353516,"y":40,"z":"64764a7c.9b89b4","wires":[["91a0767b.6e5f88"]]},{"id":"91a0767b.6e5f88","type":"function","name":"InitConst","func":"context.global.sqlTableName = \"IntakeToday\"\n\nreturn { payload: context }","outputs":"1","x":300.44445037841797,"y":38.888888120651245,"z":"64764a7c.9b89b4","wires":[[]]},{"id":"7479ca0e.8b8634","type":"function","name":"Drop","func":"var table_name = context.global.sqlTableName\n\nconsole.log(\"table exists\")\ndrop = {\n\ttopic: \"DROP TABLE \"+table_name+\";\"\n}\n\nreturn drop","outputs":1,"x":290.2222213745117,"y":122.88888716697693,"z":"64764a7c.9b89b4","wires":[["81202d4.f7edfd"]]},{"id":"d0f904cd.2f06f8","type":"inject","name":"CREATE","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":123.22222137451172,"y":161.88888716697693,"z":"64764a7c.9b89b4","wires":[["5dd2ba10.a22d44"]]},{"id":"5dd2ba10.a22d44","type":"function","name":"Create","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":289.2222213745117,"y":163.88888716697693,"z":"64764a7c.9b89b4","wires":[["81202d4.f7edfd"]]},{"id":"493f6042.b6c0a","type":"function","name":"Action","func":"var action\nvar pre_action = msg.action\nvar pkg = msg.pkg\n\n// If pkg is NULL, this msg is from HttpIn; \n// otherwise it comes from feedback flow\nif (pkg == null) {\n\taction = 'PRE_QUERY'\n\tvar POSTBody = msg.req.body;\n\tmsg.pkg = {user_id: parseInt(POSTBody.id)}\n} else {\n\n\tif (pre_action=='NEW_USER'||pre_action=='INCREMENT') {\n\t\taction = 'QUERY'\n\t} else if (pre_action=='PRE_QUERY') {\n\t\tvar query_result = msg.payload\n\t\tif (query_result.length==0) {\n\t\t\taction = 'NEW_USER'\n\t\t} else if (query_result.length==1) {\n\t\t\t// since the UserId in DB is unique, there should be only one entry\n\t\t\taction = 'INCREMENT'\n\t\t}\n\t} else if (pre_action=='QUERY') {\n\t\taction = 'PUBLISH'\n\t}\n}\n\nmsg.action = action\t// append msg with action property\nconsole.log(action)\n\nvar out;\nswitch (action) {\n\tcase 'PRE_QUERY':\n\tcase 'QUERY':\n\t\tout = [msg, null, null, null]\n\t\tbreak\n\tcase 'NEW_USER':\n\t\tout = [null, msg, null, null]\n\t\tbreak\n\tcase 'INCREMENT':\n\t\tout = [null, null, msg, null]\n\t\tbreak\n\tcase 'PUBLISH':\n\t\tout = [null, null, null, msg]\n\t\tbreak\n}\n\nconsole.log(msg)\nreturn out","outputs":"4","x":316.7499694824219,"y":325.1111145019531,"z":"64764a7c.9b89b4","wires":[["d94e6bf2.26b198"],["6666eb17.999914"],["235c931d.dca36c"],["a0627e43.5f9d8"]]},{"id":"6666eb17.999914","type":"function","name":"NewUser","func":"//const id = msg.payload.UserId\nvar id = parseInt(msg.pkg.user_id)\nvar table_name = context.global.sqlTableName\n\nmsg.topic = \"INSERT INTO \"\n\t\t+table_name+\"(UserId,Intake)\"\n\t\t+\" VALUES(\"+id+\",1)\" ;\n\nreturn msg","outputs":1,"x":621.2222175598145,"y":393.5555419921875,"z":"64764a7c.9b89b4","wires":[["65188dae.9ae774"]]},{"id":"235c931d.dca36c","type":"function","name":"IncrementIntake","func":"//const id = msg.payload.UserId\nvar id = parseInt(msg.pkg.user_id)\nvar preIntake = parseInt(msg.payload[0].Intake)\nvar table_name = context.global.sqlTableName\n\nmsg.topic = \"UPDATE \"+table_name\n\t\t+\" SET Intake=\"+(preIntake+1)\n\t\t+\" WHERE UserID=\"+id ;\nmsg.pkg = {\tuser_id: id,\n\t\t\tpreIntake: preIntake } \n\nreturn msg","outputs":1,"x":667.6666488647461,"y":440.55555725097656,"z":"64764a7c.9b89b4","wires":[["65188dae.9ae774"]]},{"id":"d94e6bf2.26b198","type":"function","name":"Query","func":"var id = parseInt(msg.pkg.user_id)\nvar table_name = context.global.sqlTableName\n\nmsg.topic = \"SELECT *\"\n\t\t+\" FROM \"+table_name\n\t\t+\" WHERE UserID=\"+id ;\n\nreturn msg","outputs":1,"x":599.3333129882812,"y":345.77777099609375,"z":"64764a7c.9b89b4","wires":[["65188dae.9ae774"]]},{"id":"81202d4.f7edfd","type":"sqlite","mydb":"3c10850a.c3ef7a","name":"","x":581.4444313049316,"y":106.11111068725586,"z":"64764a7c.9b89b4","wires":[["bdcc3ce8.4233c"]]},{"id":"430cf6d0.bcf308","type":"inject","name":"","topic":"SELECT * FROM IntakeToday","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":190.8889045715332,"y":87.22222208976746,"z":"64764a7c.9b89b4","wires":[["81202d4.f7edfd"]]},{"id":"bdcc3ce8.4233c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":773.8888854980469,"y":101.33333206176758,"z":"64764a7c.9b89b4","wires":[]},{"id":"88469c0c.77b96","type":"json","name":"","x":756.75,"y":527.25,"z":"64764a7c.9b89b4","wires":[["385a6235.c7a59e"]]},{"id":"a0627e43.5f9d8","type":"function","name":"FirstResult","func":"msg.payload = msg.payload[0]\nreturn msg","outputs":1,"x":612.1666564941406,"y":527.0833129882812,"z":"64764a7c.9b89b4","wires":[["88469c0c.77b96"]]},{"id":"4fa3a818.b05c58","type":"http in","name":"","url":"/coffee","method":"post","x":116.25,"y":358,"z":"64764a7c.9b89b4","wires":[["493f6042.b6c0a"]]},{"id":"a1e67beb.5e1988","type":"http response","name":"","x":1064,"y":527,"z":"64764a7c.9b89b4","wires":[]},{"id":"385a6235.c7a59e","type":"function","name":"Content-Type","func":"msg.headers = {\"Content-Type\" : \"application/json\"}\nreturn msg;","outputs":1,"x":911.25,"y":527.25,"z":"64764a7c.9b89b4","wires":[["a1e67beb.5e1988"]]},{"id":"b634dfaa.49cb2","type":"http in","name":"","url":"/test","method":"post","x":112.75,"y":274.75,"z":"7d3e5da4.82c1a4","wires":[["8bc5d99.f743a28","8084863f.7f7b78","a31af009.5ce51"]]},{"id":"a31af009.5ce51","type":"http response","name":"","x":445.75,"y":198,"z":"7d3e5da4.82c1a4","wires":[]},{"id":"bc90b68.f436f48","type":"debug","name":"","active":false,"console":"false","complete":"true","x":624.25,"y":275.75,"z":"7d3e5da4.82c1a4","wires":[]},{"id":"8bc5d99.f743a28","type":"function","name":"","func":"var POSTBody = msg.req.body\nconsole.log(POSTBody)\n\nreturn POSTBody;","outputs":1,"x":397,"y":277,"z":"7d3e5da4.82c1a4","wires":[["bc90b68.f436f48"]]},{"id":"7b04c4fc.84fb3c","type":"http request","name":"","method":"POST","url":"http://127.0.0.1:1881/test","x":363,"y":76,"z":"7d3e5da4.82c1a4","wires":[["d2636327.2d9ca"]]},{"id":"d2636327.2d9ca","type":"debug","name":"","active":true,"console":"false","complete":"true","x":548,"y":77,"z":"7d3e5da4.82c1a4","wires":[]},{"id":"62bb11d0.9d44f","type":"inject","name":"","topic":"","payload":"foo=bar&this=that","payloadType":"string","repeat":"","crontab":"","once":false,"x":144,"y":62,"z":"7d3e5da4.82c1a4","wires":[["7b04c4fc.84fb3c"]]},{"id":"8084863f.7f7b78","type":"debug","name":"","active":true,"console":"false","complete":"req.body","x":359,"y":438,"z":"7d3e5da4.82c1a4","wires":[]}]