coffee/cscw_final_server_flows.json
[{"type":"tab","id":"64764a7c.9b89b4","label":"Sheet 1"},{"type":"tab","id":"7d3e5da4.82c1a4","label":"Sheet 2"},{"id":"3c10850a.c3ef7a","type":"sqlitedb","db":"CoffeeIntakeDB"},{"id":"fe5faf2f.01a05","type":"websocket-listener","path":"/ws/CoffeeIntake","wholemsg":"false"},{"id":"65188dae.9ae774","type":"sqlite","mydb":"3c10850a.c3ef7a","name":"","x":1131.5555419921875,"y":491.4444274902344,"z":"64764a7c.9b89b4","wires":[["493f6042.b6c0a"]]},{"id":"4cf7b1d6.b3085","type":"inject","name":"DROP","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":109.22222137451172,"y":178.88888335227966,"z":"64764a7c.9b89b4","wires":[["7479ca0e.8b8634"]]},{"id":"a043ac03.5fbc5","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":108.66666412353516,"y":94.99999618530273,"z":"64764a7c.9b89b4","wires":[["91a0767b.6e5f88"]]},{"id":"91a0767b.6e5f88","type":"function","name":"InitConst","func":"context.global.sqlTableName = \"IntakeToday\"\n\nreturn { payload: context }","outputs":"1","x":286.44445037841797,"y":93.88888430595398,"z":"64764a7c.9b89b4","wires":[[]]},{"id":"7479ca0e.8b8634","type":"function","name":"Drop","func":"var table_name = context.global.sqlTableName\n\nconsole.log(\"table exists\")\ndrop = {\n\ttopic: \"DROP TABLE \"+table_name+\";\"\n}\n\nreturn drop","outputs":1,"x":276.2222213745117,"y":177.88888335227966,"z":"64764a7c.9b89b4","wires":[["81202d4.f7edfd"]]},{"id":"d0f904cd.2f06f8","type":"inject","name":"CREATE","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":109.22222137451172,"y":216.88888335227966,"z":"64764a7c.9b89b4","wires":[["5dd2ba10.a22d44"]]},{"id":"5dd2ba10.a22d44","type":"function","name":"Create","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":275.2222213745117,"y":218.88888335227966,"z":"64764a7c.9b89b4","wires":[["81202d4.f7edfd"]]},{"id":"493f6042.b6c0a","type":"function","name":"","func":"var action\nvar pre_action = msg.action\nvar pkg = msg.pkg\n\n// If pkg is NULL, this msg is from an independent flow; otherwise it comes from a feedback\nif (pkg == null) {\n\taction = 'PRE_QUERY'\n\tmsg.pkg = {user_id: parseInt(msg.payload)}\n} else {\n\n\tif (pre_action=='NEW_USER'||pre_action=='INCREMENT') {\n\t\taction = 'QUERY'\n\t} else if (pre_action=='PRE_QUERY') {\n\t\tvar query_result = msg.payload\n\t\tif (query_result.length==0) {\n\t\t\taction = 'NEW_USER'\n\t\t} else if (query_result.length==1) {\n\t\t\t// since the UserId in DB is unique, there should be only one entry\n\t\t\taction = 'INCREMENT'\n\t\t}\n\t} else if (pre_action=='QUERY') {\n\t\taction = 'PUBLISH'\n\t}\n}\n\n/*\nelse {\n\t// If pkg != null, this msg comes from a feedback\n//\tif (msg.payload instanceof Array) {\n\t\tvar query_result = msg.payload\n\t\tif (query_result.length==0) {\n\t\t\taction = 'NEW_USER'\n\t\t} else if (query_result.length==1) {\n\t\t\t// since the UserId in DB is unique, there should be only one entry\n\t\t\taction = 'INCREMENT'\n\t\t}\n//\t}\n} */\n\nmsg.action = action\t// append msg with action property\nconsole.log(action)\n\nvar out;\nswitch (action) {\n\tcase 'PRE_QUERY':\n\tcase 'QUERY':\n\t\tout = [msg, null, null, null]\n\t\tbreak\n\tcase 'NEW_USER':\n\t\tout = [null, msg, null, null]\n\t\tbreak\n\tcase 'INCREMENT':\n\t\tout = [null, null, msg, null]\n\t\tbreak\n\tcase 'PUBLISH':\n\t\tout = [null, null, null, msg]\n\t\tbreak\n}\n\nconsole.log(out)\nreturn out","outputs":"4","x":441.7499694824219,"y":345.1111145019531,"z":"64764a7c.9b89b4","wires":[["d94e6bf2.26b198"],["6666eb17.999914"],["235c931d.dca36c"],["a0627e43.5f9d8"]]},{"id":"6666eb17.999914","type":"function","name":"NewUser","func":"//const id = msg.payload.UserId\nvar id = parseInt(msg.pkg.user_id)\nvar table_name = context.global.sqlTableName\n\nmsg.topic = \"INSERT INTO \"\n\t\t+table_name+\"(UserId,Intake)\"\n\t\t+\" VALUES(\"+id+\",1)\" ;\n\nreturn msg","outputs":1,"x":685.2222175598145,"y":301.5555419921875,"z":"64764a7c.9b89b4","wires":[["65188dae.9ae774"]]},{"id":"235c931d.dca36c","type":"function","name":"IncrementIntake","func":"//const id = msg.payload.UserId\nvar id = parseInt(msg.pkg.user_id)\nvar preIntake = parseInt(msg.payload[0].Intake)\nvar table_name = context.global.sqlTableName\n\nmsg.topic = \"UPDATE \"+table_name\n\t\t+\" SET Intake=\"+(preIntake+1)\n\t\t+\" WHERE UserID=\"+id ;\nmsg.pkg = {\tuser_id: id,\n\t\t\tpreIntake: preIntake } \n\nreturn msg","outputs":1,"x":731.6666488647461,"y":348.55555725097656,"z":"64764a7c.9b89b4","wires":[["65188dae.9ae774"]]},{"id":"d94e6bf2.26b198","type":"function","name":"Query","func":"var id = parseInt(msg.pkg.user_id)\nvar table_name = context.global.sqlTableName\n\nmsg.topic = \"SELECT *\"\n\t\t+\" FROM \"+table_name\n\t\t+\" WHERE UserID=\"+id ;\n\nreturn msg","outputs":1,"x":663.3333129882812,"y":253.77777099609375,"z":"64764a7c.9b89b4","wires":[["65188dae.9ae774"]]},{"id":"228e90bd.dd717","type":"random","name":"rdmUser","low":"1","high":"6","inte":"true","x":223.33333587646484,"y":332.4444751739502,"z":"64764a7c.9b89b4","wires":[["493f6042.b6c0a","b665ea69.499a18"]]},{"id":"81202d4.f7edfd","type":"sqlite","mydb":"3c10850a.c3ef7a","name":"","x":567.4444313049316,"y":161.1111068725586,"z":"64764a7c.9b89b4","wires":[["bdcc3ce8.4233c"]]},{"id":"430cf6d0.bcf308","type":"inject","name":"","topic":"SELECT * FROM IntakeToday","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":176.8889045715332,"y":142.2222182750702,"z":"64764a7c.9b89b4","wires":[["81202d4.f7edfd"]]},{"id":"bdcc3ce8.4233c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":759.8888854980469,"y":156.3333282470703,"z":"64764a7c.9b89b4","wires":[]},{"id":"88469c0c.77b96","type":"json","name":"","x":488.75000762939453,"y":601.2500114440918,"z":"64764a7c.9b89b4","wires":[["385a6235.c7a59e"]]},{"id":"b665ea69.499a18","type":"debug","name":"","active":true,"console":"false","complete":"true","x":283.3333435058594,"y":435.3333435058594,"z":"64764a7c.9b89b4","wires":[]},{"id":"4c432cdc.b3bcd4","type":"debug","name":"","active":true,"console":"false","complete":"true","x":870.8332633972168,"y":650.8333225250244,"z":"64764a7c.9b89b4","wires":[]},{"id":"a0627e43.5f9d8","type":"function","name":"Publish","func":"msg.payload = msg.payload[0]\nreturn msg","outputs":1,"x":349.1666603088379,"y":602.0833215713501,"z":"64764a7c.9b89b4","wires":[["88469c0c.77b96"]]},{"id":"4fa3a818.b05c58","type":"http in","name":"","url":"/coffee","method":"get","x":73.25,"y":332,"z":"64764a7c.9b89b4","wires":[["228e90bd.dd717"]]},{"id":"a1e67beb.5e1988","type":"http response","name":"","x":870.0000152587891,"y":600.0000076293945,"z":"64764a7c.9b89b4","wires":[]},{"id":"385a6235.c7a59e","type":"function","name":"Content-Type","func":"msg.headers = {\"Content-Type\" : \"application/json\"}\nreturn msg;","outputs":1,"x":651.2500076293945,"y":601.2500076293945,"z":"64764a7c.9b89b4","wires":[["a1e67beb.5e1988","4c432cdc.b3bcd4"]]},{"id":"b634dfaa.49cb2","type":"http in","name":"","url":"/test","method":"post","x":112.75,"y":274.75,"z":"7d3e5da4.82c1a4","wires":[["8bc5d99.f743a28","8084863f.7f7b78","a31af009.5ce51"]]},{"id":"a31af009.5ce51","type":"http response","name":"","x":445.75,"y":198,"z":"7d3e5da4.82c1a4","wires":[]},{"id":"bc90b68.f436f48","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":508.25,"y":314.75,"z":"7d3e5da4.82c1a4","wires":[]},{"id":"8bc5d99.f743a28","type":"function","name":"","func":"var POSTBody = msg.req.body\n\nconsole.log(POSTBody)\n//console.log(JSON.stringfy(POSTBody)\n\nconsole.log(\"Content-Type\\n\")\nconsole.log(msg.req.get(\"Content-Type\"))\n//msg.res.json(msg.req.body);\n\nreturn {payload: msg.req.body};","outputs":1,"x":313,"y":287,"z":"7d3e5da4.82c1a4","wires":[["bc90b68.f436f48"]]},{"id":"7b04c4fc.84fb3c","type":"http request","name":"","method":"POST","url":"http://127.0.0.1:1881/test","x":363,"y":76,"z":"7d3e5da4.82c1a4","wires":[["d2636327.2d9ca"]]},{"id":"d2636327.2d9ca","type":"debug","name":"","active":true,"console":"false","complete":"true","x":548,"y":77,"z":"7d3e5da4.82c1a4","wires":[]},{"id":"62bb11d0.9d44f","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":28,"z":"7d3e5da4.82c1a4","wires":[["698b89e3.967478"]]},{"id":"8084863f.7f7b78","type":"debug","name":"","active":true,"console":"false","complete":"true","x":359,"y":438,"z":"7d3e5da4.82c1a4","wires":[]},{"id":"698b89e3.967478","type":"function","name":"","func":"msg.payload = \"id=1&id2=2\"\nreturn msg;","outputs":1,"x":216,"y":75,"z":"7d3e5da4.82c1a4","wires":[["7b04c4fc.84fb3c"]]}]