coffee/generic_sqlite.json
[
  {
    "id":"133cbb60.ecc345",
    "type":"sqlitedb",
    "db":"all_database"
  },
  {
    "id":"5384d85.fac7b28",
    "type":"function",
    "name":"DROP",
    "func":" \nmsg.topic =\n\t\"DROP TABLE \" + msg.payload.table_name + \";\";\n\nreturn msg",
    "outputs":1,
    "x":482,
    "y":618.0000114440918,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "c50e3988.3af1c8"
      ]
    ]
  },
  {
    "id":"b132fb61.4ecd08",
    "type":"function",
    "name":"CREATE",
    "func":"msg.topic = \n\t\t\"create table if not exists \" + msg.payload.table_name +\n\t\t \" \" + msg.payload.table_parameter\n\t\t//+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t//+\"Intake integer DEFAULT 0);\"\n\nreturn msg",
    "outputs":1,
    "x":490.99999618530273,
    "y":245,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "c50e3988.3af1c8"
      ]
    ]
  },
  {
    "id":"366d683.fc99298",
    "type":"http in",
    "name":"SELECT",
    "url":"/sqlite/select",
    "method":"get",
    "x":76.02776718139648,
    "y":170.11111450195312,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "8eaa2368.7155e"
      ]
    ]
  },
  {
    "id":"c50e3988.3af1c8",
    "type":"sqlite",
    "mydb":"133cbb60.ecc345",
    "name":"all database",
    "x":820.5277671813965,
    "y":346,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "a38e7cc.f5c718",
        "7f7fb531.80804c"
      ]
    ]
  },
  {
    "id":"8d4091ca.72bf7",
    "type":"http in",
    "name":"CREATE",
    "url":"/sqlite/create",
    "method":"post",
    "x":73.52776718139648,
    "y":247,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "62a91f42.9d56e"
      ]
    ]
  },
  {
    "id":"7c318c4e.83ce74",
    "type":"http in",
    "name":"UPDATE",
    "url":"/sqlite/update",
    "method":"put",
    "x":79.52776718139648,
    "y":449,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "9f0360a.f60fca"
      ]
    ]
  },
  {
    "id":"ccf3be3b.330c4",
    "type":"http in",
    "name":"INSERT",
    "url":"/sqlite/insert",
    "method":"post",
    "x":71.52776718139648,
    "y":336,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "8252bc25.7dad4"
      ]
    ]
  },
  {
    "id":"2fb38558.d04c7a",
    "type":"http in",
    "name":"DELETE",
    "url":"/sqlite/delete",
    "method":"delete",
    "x":76.77776718139648,
    "y":542.7500076293945,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "8c312751.73ced8"
      ]
    ]
  },
  {
    "id":"f0f89c67.0f076",
    "type":"http in",
    "name":"DROP",
    "url":"/sqlite/drop",
    "method":"delete",
    "x":74.77776718139648,
    "y":617.7500095367432,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "b856ceb5.47a93"
      ]
    ]
  },
  {
    "id":"23446177.dcbb9e",
    "type":"function",
    "name":"INSERT",
    "func":"msg.topic = \n\t\t\"INSERT INTO \" + msg.payload.table_name\t\t+ \n\t\tmsg.payload.col_query + \" values \" + \n\t\tmsg.payload.val_query;\n\nreturn msg;",
    "outputs":1,
    "x":486.5277671813965,
    "y":336,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "c50e3988.3af1c8",
        "c9c1a53e.363e58"
      ]
    ]
  },
  {
    "id":"7bf44209.840bbc",
    "type":"function",
    "name":"UPDATE",
    "func":"msg.topic = \n\t\t\"UPDATE \" + msg.payload.table_name\n\t\t+ \" SET \" + msg.payload.update_query\n\nif(msg.payload.where_query)\n\tmsg.topic += \" where \" + msg.payload.where_query;\n\nreturn msg",
    "outputs":1,
    "x":487.277774810791,
    "y":450.7500066757202,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "c50e3988.3af1c8",
        "c9c1a53e.363e58"
      ]
    ]
  },
  {
    "id":"ad495cac.52b6a",
    "type":"function",
    "name":"DELETE",
    "func":"msg.topic = \t\"DELETE FROM \" + msg.payload.table_name;\n\nif(msg.payload.where_query)\n\tmsg.topic += \" WHERE \" + msg.payload.where_query; \n\nreturn msg;",
    "outputs":1,
    "x":483.777774810791,
    "y":542.7500076293945,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "c50e3988.3af1c8"
      ]
    ]
  },
  {
    "id":"a38e7cc.f5c718",
    "type":"function",
    "name":"http_response_formatter",
    "func":"if(msg.payload.length > 0){ \n\tmsg.statusCode = 200;\n}\nelse\n\tmsg.statusCode = 404;\n\nmsg.headers = {\n\t\"content-type\":\"application/javascript\"\n} \n\nreturn msg;",
    "outputs":1,
    "x":1073.5277671813965,
    "y":346,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "d9acae6a.26535"
      ]
    ]
  },
  {
    "id":"978906f2.6876f8",
    "type":"function",
    "name":"SELECT_ONE",
    "func":"msg.topic += \" LIMIT 1\"; \n\nreturn msg",
    "outputs":1,
    "x":655.0277671813965,
    "y":116.88888549804688,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "c50e3988.3af1c8"
      ]
    ]
  },
  {
    "id":"6cc27c04.933d84",
    "type":"inject",
    "name":"DROP",
    "topic":"",
    "payload":"",
    "payloadType":"none",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":787.5277671813965,
    "y":625,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "7277b3ea.8d884c"
      ]
    ]
  },
  {
    "id":"2dc2218f.d23dde",
    "type":"inject",
    "name":"",
    "topic":"",
    "payload":"",
    "payloadType":"none",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":786.9722099304199,
    "y":541.1111128330231,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "42d5799c.bd2a88"
      ]
    ]
  },
  {
    "id":"42d5799c.bd2a88",
    "type":"function",
    "name":"InitConst",
    "func":"context.global.sqlTableName = \"IntakeToday\"\n\nreturn { payload: context }",
    "outputs":"1",
    "x":964.7499961853027,
    "y":540.0000009536743,
    "z":"88df32e9.7720d",
    "wires":[
      [

      ]
    ]
  },
  {
    "id":"7277b3ea.8d884c",
    "type":"function",
    "name":"Drop",
    "func":"var table_name = context.global.sqlTableName\n\nconsole.log(\"table exists\")\ndrop = {\n\ttopic: \"DROP TABLE \"+table_name+\";\"\n}\n\nreturn drop",
    "outputs":1,
    "x":954.5277671813965,
    "y":624,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "ef9ddea0.10622"
      ]
    ]
  },
  {
    "id":"72b9af93.8d465",
    "type":"inject",
    "name":"CREATE",
    "topic":"",
    "payload":"",
    "payloadType":"none",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":787.5277671813965,
    "y":663,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "e70318c8.18fce8"
      ]
    ]
  },
  {
    "id":"e70318c8.18fce8",
    "type":"function",
    "name":"Create",
    "func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create",
    "outputs":1,
    "x":953.5277671813965,
    "y":665,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "ef9ddea0.10622"
      ]
    ]
  },
  {
    "id":"7d1f0d13.82e0f4",
    "type":"inject",
    "name":"",
    "topic":"SELECT * FROM test_table",
    "payload":"",
    "payloadType":"string",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":854.1944465637207,
    "y":585.333338022232,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "ef9ddea0.10622"
      ]
    ]
  },
  {
    "id":"42281ac6.bdd7e4",
    "type":"inject",
    "name":"INSERT",
    "topic":"",
    "payload":"",
    "payloadType":"none",
    "repeat":"",
    "crontab":"",
    "once":false,
    "x":787.3055458068848,
    "y":711.1111166477203,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "4c0b6296.b3f49c"
      ]
    ]
  },
  {
    "id":"4c0b6296.b3f49c",
    "type":"function",
    "name":"Insert",
    "func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"insert into \" + table_name\t\t+\n\t\t\"(UserId, Intake) values ('1','1')\"\n}\n\nreturn create",
    "outputs":1,
    "x":953.3055458068848,
    "y":713.1111166477203,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "ef9ddea0.10622"
      ]
    ]
  },
  {
    "id":"ef9ddea0.10622",
    "type":"sqlite",
    "mydb":"133cbb60.ecc345",
    "name":"",
    "x":1245.7499771118164,
    "y":607.2222235202789,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "6ab0873c.954f78"
      ]
    ]
  },
  {
    "id":"6ab0873c.954f78",
    "type":"debug",
    "name":"",
    "active":true,
    "console":"false",
    "complete":"false",
    "x":1438.1944313049316,
    "y":602.4444448947906,
    "z":"88df32e9.7720d",
    "wires":[

    ]
  },
  {
    "id":"7f7fb531.80804c",
    "type":"debug",
    "name":"",
    "active":false,
    "console":"false",
    "complete":"true",
    "x":998.5277671813965,
    "y":202,
    "z":"88df32e9.7720d",
    "wires":[

    ]
  },
  {
    "id":"a5de2d62.5a21d",
    "type":"function",
    "name":"SELECT",
    "func":"var table_name = msg.payload.table_name;\nvar where_query = msg.payload.where_query;\n \nvar query = \"select * from \" + table_name + \" \" \nif(where_query)\t\n\tquery += \" where \" + where_query ; \n\t\nmsg.topic = query \n\n// select one\nif(msg.req.path.indexOf(\"_one\"))\n{\n\treturn [null, msg]; \n} else {\n// select all\n\treturn [msg,null];\n}\n",
    "outputs":"2",
    "x":486.5277671813965,
    "y":169,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "978906f2.6876f8"
      ],
      [
        "c50e3988.3af1c8"
      ]
    ]
  },
  {
    "id":"8eaa2368.7155e",
    "type":"function",
    "name":"params_parser",
    "func":"var params = msg.req.query; \n \nvar where_query = \"\"; \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\nmsg.payload = {\n\ttable_name: params.table_name,\n\twhere_query: where_query \n}\n\nreturn msg;",
    "outputs":1,
    "x":279.5277671813965,
    "y":170,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "a5de2d62.5a21d"
      ]
    ]
  },
  {
    "id":"62a91f42.9d56e",
    "type":"function",
    "name":"params_parser",
    "func":"var params = msg.req.body; \n\nvar table_params = {};\nvar table_param_query = \"\";\n \nif(typeof(params.table_params) != \"undefined\")\n{ \n\ttable_params = JSON.parse(params.table_params) \n\t\t\n\tfor(var i = 0; i < table_params.length; i++){\n\t\ttable_param_query += table_params[i].col + \" \";\n\t\ttable_param_query += table_params[i].type + \" \";\n\t\ttable_param_query += table_params[i].option + \" \";\t\n\t\tif(i < table_params.length - 1)\n\t\t\ttable_param_query += \", \";\n\t} \n}\n\nmsg.payload.\ttable_name = params.table_name;\nmsg.payload.table_parameter = \"(\" + table_param_query + \")\";\n\nreturn msg;",
    "outputs":1,
    "x":279.5277671813965,
    "y":246,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "b132fb61.4ecd08"
      ]
    ]
  },
  {
    "id":"68d0060b.972ff8",
    "type":"comment",
    "name":"commands documentation",
    "info":"GET /sqlite/select or /sqlite/select_one\nurl parameter:\n1. table_name (string)\n2. where (json string) e.g.: \n[{\n  \"col\":\"username\", \"op\":\"like\", \"val\":\"%test%\", \"chain_op\":\"or\"\n},{...}]\n\nPOST /sqlite/create\nx-www-form-url-encoded\n1. table_name (string)\n2. table_params (json string) e.g.: \n[{  \n  \"col\":\"UserId\", \"type\":\"integer\", \"option\":\"NOT NULL UNIQUE\" \n},{...}]\n\nPOST /sqlite/insert\nx-www-form-url-encoded\n1. table_name (string)\n2. cols (json array) e.g.: [\"user_id\", \"username\"]\n3. vals (json array) e.g.: [1,\"user_a\"]\n\nPUT /sqlite/update\nx-www-form-url-encoded\n1. table_name (string)\n2. cols (json array) e.g.: [\"user_id\", \"username\"]\n3. vals (json array) e.g.: [1,\"user_a\"]\n4. where (json string) e.g.: \n[{\n  \"col\":\"username\", \"op\":\"like\", \"val\":\"%test%\", \"chain_op\":\"or\"\n},{...}]\n\nDELETE /sqlite/delete\nurl parameter\n1. table_name (string) \n2. where (json string) e.g.: \n[{\n  \"col\":\"username\", \"op\":\"like\", \"val\":\"%test%\", \"chain_op\":\"or\"\n},{...}]\n\nDROP /sqlite/drop\nurl parameter\n1. table_name (string)  ",
    "x":497.5277671813965,
    "y":43,
    "z":"88df32e9.7720d",
    "wires":[

    ]
  },
  {
    "id":"8252bc25.7dad4",
    "type":"function",
    "name":"params_parser",
    "func":"var params = msg.req.body; \n \nvar col_query = \"\";\nvar val_query = \"\";\n\nif(typeof(params.cols) != \"undefined\")\n{ \n\tvar columns = JSON.parse(params.cols) \n\t\t\n\tfor(var i = 0; i < columns.length; i++){\n\t\tcol_query += columns[i] + \" \";\t\n\t\tif(i < columns.length - 1)\n\t\t\tcol_query += \", \";\n\t} \n}\n\nif(typeof(params.vals) != \"undefined\")\n{ \n\tvar values = JSON.parse(params.vals) \n\t\t\n\tfor(var i = 0; i < values.length; i++){\n\t\tval_query += \"'\" + values[i] + \"'\";\t\n\t\tif(i < values.length - 1)\n\t\t\tval_query += \", \";\n\t} \n}\n\nmsg.payload.\ttable_name = params.table_name;\nmsg.payload.col_query = \"(\" + col_query + \")\";\nmsg.payload.val_query = \"(\" + val_query + \")\";\n\nreturn msg;",
    "outputs":1,
    "x":278.5277671813965,
    "y":336,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "23446177.dcbb9e"
      ]
    ]
  },
  {
    "id":"3c4bfe95.c3b402",
    "type":"debug",
    "name":"",
    "active":true,
    "console":"false",
    "complete":"true",
    "x":480.027774810791,
    "y":498.7500057220459,
    "z":"88df32e9.7720d",
    "wires":[

    ]
  },
  {
    "id":"c9c1a53e.363e58",
    "type":"debug",
    "name":"",
    "active":true,
    "console":"false",
    "complete":"true",
    "x":808.5277671813965,
    "y":257,
    "z":"88df32e9.7720d",
    "wires":[

    ]
  },
  {
    "id":"9f0360a.f60fca",
    "type":"function",
    "name":"params_parser",
    "func":"var params = msg.req.body;\n\nvar update_query = \"\"; \nvar where_query = \"\"; \n\nif(typeof(params.cols) != \"undefined\")\n{  \n\tvar columns = JSON.parse(params.cols); \n\tvar values = JSON.parse(params.vals);\n\t\n\tfor(var i = 0; i < columns.length; i++){\n\t\tupdate_query += columns[i] + \" = \";\n\t\tupdate_query += values[i] + \" \";\n\t\t\n\t\tif(i < columns.length - 1)\n\t\t\tupdate_query += \", \";\n\t} \n}\n  \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.update_query = update_query; \nmsg.payload.where_query = where_query;\nmsg.payload.\ttable_name = \"\"+params.table_name;\n\nreturn msg;",
    "outputs":1,
    "x":270.52777099609375,
    "y":449.7500057220459,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "7bf44209.840bbc"
      ]
    ]
  },
  {
    "id":"8c312751.73ced8",
    "type":"function",
    "name":"params_parser",
    "func":"var params = msg.req.query; \n \nvar where_query = \"\"; \n \nif(typeof(params.where) != \"undefined\"){\n\tvar where_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.\ttable_name = params.table_name; \nmsg.payload.where_query = where_query;\n\nreturn msg;",
    "outputs":1,
    "x":268.0277671813965,
    "y":542.2500076293945,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "ad495cac.52b6a",
        "3c4bfe95.c3b402"
      ]
    ]
  },
  {
    "id":"b856ceb5.47a93",
    "type":"function",
    "name":"params_parser",
    "func":"var params = msg.req.query;\n   \n// the object msg.payload doesnt exist here yet\nmsg.payload = {}\nmsg.payload.\ttable_name = params.table_name;  \n\nreturn msg;",
    "outputs":1,
    "x":268.02777099609375,
    "y":618.5000095367432,
    "z":"88df32e9.7720d",
    "wires":[
      [
        "5384d85.fac7b28",
        "3c4bfe95.c3b402"
      ]
    ]
  },
  {
    "id":"d9acae6a.26535",
    "type":"http response",
    "name":"http response",
    "x":1317.5277671813965,
    "y":344,
    "z":"88df32e9.7720d",
    "wires":[

    ]
  }
]