coffee/generic_sqlite.json
[{"id":"133cbb60.ecc345","type":"sqlitedb","db":"all_database"},{"id":"7ff16031.800ea","type":"function","name":"DROP","func":"var table_name = context.global.sqlTableName\n\nconsole.log(\"table exists\")\ndrop = {\n\ttopic: \"DROP TABLE \"+table_name+\";\"\n}\n\nreturn drop","outputs":1,"x":326.47222900390625,"y":572,"z":"88df32e9.7720d","wires":[["fa7d821e.05828"]]},{"id":"d4549609.2bab68","type":"function","name":"CREATE","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":327.47222900390625,"y":251,"z":"88df32e9.7720d","wires":[["fa7d821e.05828"]]},{"id":"e70979ce.18f688","type":"http in","name":"SELECT","url":"/sqlite/select","method":"get","x":70.5,"y":174.11111450195312,"z":"88df32e9.7720d","wires":[["b2b5e328.4d4a2"]]},{"id":"fa7d821e.05828","type":"sqlite","mydb":"133cbb60.ecc345","name":"all database","x":705,"y":385,"z":"88df32e9.7720d","wires":[["a3e8f5ca.5c1708"]]},{"id":"212f3646.ded0ca","type":"http in","name":"CREATE","url":"/sqlite/create","method":"post","x":68,"y":251,"z":"88df32e9.7720d","wires":[["d4549609.2bab68"]]},{"id":"a12c0c69.5ed3f","type":"http in","name":"UPDATE","url":"/sqlite/update","method":"put","x":73,"y":437,"z":"88df32e9.7720d","wires":[["9fca1d5f.6035e"]]},{"id":"4eec45af.b113bc","type":"http in","name":"INSERT","url":"/sqlite/insert","method":"post","x":68,"y":382,"z":"88df32e9.7720d","wires":[["fb60c03.f049f4"]]},{"id":"885c0bc7.77a3f8","type":"http in","name":"DELETE","url":"/sqlite/delete","method":"delete","x":70,"y":503,"z":"88df32e9.7720d","wires":[["95eb82be.6a148"]]},{"id":"88c2ab42.773d58","type":"http in","name":"DROP","url":"/sqlite/drop","method":"delete","x":68,"y":573,"z":"88df32e9.7720d","wires":[["7ff16031.800ea"]]},{"id":"b2b5e328.4d4a2","type":"function","name":"SELECT","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":325,"y":175,"z":"88df32e9.7720d","wires":[["fa7d821e.05828"]]},{"id":"fb60c03.f049f4","type":"function","name":"INSERT","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0)\"\n}\n\nreturn create","outputs":1,"x":322,"y":382,"z":"88df32e9.7720d","wires":[["fa7d821e.05828"]]},{"id":"9fca1d5f.6035e","type":"function","name":"UPDATE","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":323,"y":436,"z":"88df32e9.7720d","wires":[["fa7d821e.05828"]]},{"id":"95eb82be.6a148","type":"function","name":"DELETE","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":327,"y":503,"z":"88df32e9.7720d","wires":[["fa7d821e.05828"]]},{"id":"2798907f.d8677","type":"sqlite","mydb":"133cbb60.ecc345","name":"all database","x":837,"y":114,"z":"88df32e9.7720d","wires":[["675680d4.98a98"]]},{"id":"a3e8f5ca.5c1708","type":"function","name":"http_response_formatter","func":"msg.headers = {\"Content-Type\" : \"application/json\"}\nmsg.payload = {}\nmsg.statusCode = 200\n\nreturn msg;","outputs":1,"x":933,"y":301,"z":"88df32e9.7720d","wires":[[]]},{"id":"675680d4.98a98","type":"function","name":"http_response_formatter","func":"msg.payload = \n{\n\tpayload: msg.payload[0],\n\tstatusCode: 200,\t\n\theaders: {\n\t\t\"content-type\":\"application/javascript\"\n\t}\n} \n\nreturn msg;","outputs":1,"x":1039,"y":206,"z":"88df32e9.7720d","wires":[["f0af1c08.0f50e"]]},{"id":"fcb6a2e.f03496","type":"http in","name":"SELECT_ONE","url":"/sqlite/select_one","method":"get","x":88,"y":115,"z":"88df32e9.7720d","wires":[["f31a5198.0ce5b"]]},{"id":"65bbb58a.9a444c","type":"function","name":"SELECT_ONE","func":"var table_name = msg.payload.table_name;\nvar where = msg.payload.where;\n \nvar query = \"select * from \" + table_name + \" \" \n\twhere\n\t+ \" LIMIT 1\"; \n\nmsg.topic = query \n\nreturn msg","outputs":1,"x":592.5,"y":115.88888549804688,"z":"88df32e9.7720d","wires":[["2798907f.d8677"]]},{"id":"f31a5198.0ce5b","type":"function","name":"params_parser","func":"var params = msg.req.query; \n\nvar where_params = {};\nvar where_query = \"\";\n \nif(typeof(params.where) != \"undefined\"){\n\twhere_params = JSON.parse(params.where) \n\t\t\n\tfor(var i = 0; i < where_params.length; i++){\n\t\twhere_query += where_params[i].col + \" \";\n\t\twhere_query += where_params[i].op + \" \";\n\t\twhere_query += where_params[i].val + \" \";\t\n\t\tif(typeof(where_params[i].chain_op) != \"undefined\")\n\t\t\twhere_query += where_params[i].chain_op + \" \";\n\t} \n}\n\nmsg.payload = {\n\ttable_name: params.table_name,\n\twhere: where_query \n}\n\nreturn msg;","outputs":1,"x":323,"y":116,"z":"88df32e9.7720d","wires":[["65bbb58a.9a444c","280831df.d7f7ce"]]},{"id":"98786fe5.67879","type":"function","name":"where_builder","func":"var where = msg.payload.where;\n\nvar whereQuery = \"\";\nfor(var i = 0; i < where.length; i++){\n\twhereQuery += where[i].col + \" \";\n\twhereQuery += where[i].op + \" \";\n\twhereQuery += where[i].val + \" \";\t\n\twhereQuery += where[i].chain_op + \" \";\n}\n\nvar ret = {\n\tpayload : whereQuery\n}\n\nreturn ret;","outputs":1,"x":1070,"y":31,"z":"88df32e9.7720d","wires":[[]]},{"id":"5140e2f4.aebf1c","type":"inject","name":"","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":true,"x":93,"y":41,"z":"88df32e9.7720d","wires":[["b3c39532.4c3c68"]]},{"id":"b3c39532.4c3c68","type":"function","name":"InitConst","func":"console.log('efk')\n\ncontext.global.where_builder = function(where){ \n\tvar whereQuery = \"\";\n\t\n\tfor(var i = 0; i < where.length; i++){\n\t\twhereQuery += where[i].col + \" \";\n\t\twhereQuery += where[i].op + \" \";\n\t\twhereQuery += where[i].val + \" \";\t\n\t\twhereQuery += where[i].chain_op + \" \";\n\t}\n\t \n\treturn whereQuery;\n}\n\nreturn { payload: context }","outputs":"1","x":313.7777862548828,"y":40.88888740539551,"z":"88df32e9.7720d","wires":[[]]},{"id":"41e7b89b.be1848","type":"inject","name":"DROP","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":782,"y":629,"z":"88df32e9.7720d","wires":[["e99f87e0.166078"]]},{"id":"433f5b3d.bcc0a4","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":781.4444427490234,"y":545.1111128330231,"z":"88df32e9.7720d","wires":[["63f2428.f9c0dbc"]]},{"id":"63f2428.f9c0dbc","type":"function","name":"InitConst","func":"context.global.sqlTableName = \"IntakeToday\"\n\nreturn { payload: context }","outputs":"1","x":959.2222290039062,"y":544.0000009536743,"z":"88df32e9.7720d","wires":[[]]},{"id":"e99f87e0.166078","type":"function","name":"Drop","func":"var table_name = context.global.sqlTableName\n\nconsole.log(\"table exists\")\ndrop = {\n\ttopic: \"DROP TABLE \"+table_name+\";\"\n}\n\nreturn drop","outputs":1,"x":949,"y":628,"z":"88df32e9.7720d","wires":[["719895cf.8e676c"]]},{"id":"9ffccf45.60033","type":"inject","name":"CREATE","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":782,"y":667,"z":"88df32e9.7720d","wires":[["c39f1ff2.3c60e"]]},{"id":"c39f1ff2.3c60e","type":"function","name":"Create","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"CREATE TABLE \"+table_name\n\t\t+\"(UserId integer NOT NULL UNIQUE, \"\n\t\t+\"Intake integer DEFAULT 0);\"\n}\n\nreturn create","outputs":1,"x":948,"y":669,"z":"88df32e9.7720d","wires":[["719895cf.8e676c"]]},{"id":"64daaf2e.9b255","type":"inject","name":"","topic":"SELECT * FROM IntakeToday","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":848.6666793823242,"y":589.333338022232,"z":"88df32e9.7720d","wires":[["719895cf.8e676c"]]},{"id":"e325cbe3.1cda38","type":"inject","name":"INSERT","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":781.7777786254883,"y":715.1111166477203,"z":"88df32e9.7720d","wires":[["7023b2ec.8fdc4c"]]},{"id":"7023b2ec.8fdc4c","type":"function","name":"Insert","func":"var table_name = context.global.sqlTableName\n\ncreate = {\n\ttopic: \n\t\t\"insert into \" + table_name\t\t+\n\t\t\"(UserId, Intake) values ('1','1')\"\n}\n\nreturn create","outputs":1,"x":947.7777786254883,"y":717.1111166477203,"z":"88df32e9.7720d","wires":[["719895cf.8e676c"]]},{"id":"719895cf.8e676c","type":"sqlite","mydb":"133cbb60.ecc345","name":"","x":1240.22220993042,"y":611.2222235202789,"z":"88df32e9.7720d","wires":[["51dc46d5.ae23b8"]]},{"id":"51dc46d5.ae23b8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1432.6666641235352,"y":606.4444448947906,"z":"88df32e9.7720d","wires":[]},{"id":"280831df.d7f7ce","type":"debug","name":"","active":true,"console":"false","complete":"true","x":585,"y":45,"z":"88df32e9.7720d","wires":[]},{"id":"f0af1c08.0f50e","type":"function","name":"publish","func":"// set the header\nfor(var head in msg.payload.headers){\n\tmsg.res.set(head, msg.payload.headers[head]);\n}\n\n// send the http response\nmsg.res.send(msg.payload.statusCode, msg.payload.payload);\n\n// it has to return\nreturn msg;","outputs":1,"x":1269,"y":207,"z":"88df32e9.7720d","wires":[[]]}]