Movement/movement.json
[{"id":"3ac59116.c53a6e","type":"websocket-listener","path":"/movement","wholemsg":"false"},{"id":"c3e1a7c.f3c1e58","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"809e4736.7f61b8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":362,"y":76,"z":"acab9c02.53546","wires":[]},{"id":"d21ae5c6.2de518","type":"function","name":"Movement Calc","func":"var trueCount = 0;\nvar falseCount = 0;\nvar totalCount = 0;\nvar data = msg.payload;\nvar json = JSON.parse(data)\nvar value = json[\"e\"].bv \nif(value == true)\n{\n\ttrueCount++;\n\ttotalCount++;\n}\nelse\n{\n\tfalseCount++;\n\ttotalCount++;\n}\nif(totalCount == 50)\n{\n\tif(trueCount > falseCount)\n\t{\n\t\ttrueCount = 0;\n\t\tfalseCount = 0;\n\t\ttotalCount = 0;\n\t}\n\telse\n\t{\n\t\ttrueCount = 0;\n\t\tfalseCount = 0;\n\t\ttotalCount = 0;\n\t\treturn msg;\n\t}\n}","outputs":1,"x":352,"y":237,"z":"acab9c02.53546","wires":[["809e4736.7f61b8","f49242ea.0b6dc"]]},{"id":"f4ba8eed.0b457","type":"mqtt in","name":"Motion reciever","topic":"/le/Motion/Pir","broker":"c3e1a7c.f3c1e58","x":111,"y":238,"z":"acab9c02.53546","wires":[["d21ae5c6.2de518"]]},{"id":"f49242ea.0b6dc","type":"websocket out","name":"MovementPublisher","server":"3ac59116.c53a6e","x":612,"y":234,"z":"acab9c02.53546","wires":[]}]