IndoorAirQuality/airQuality.json
[{"id":"1aff8842.e50078","type":"websocket-listener","path":"/airquality","wholemsg":"false"},{"id":"820e2949.7df1d8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"bcc7f7ba.433808","type":"mqtt in","name":"OutDoorTemperature","topic":"/le/Bar/Outside_Temp","broker":"820e2949.7df1d8","x":159.5,"y":386,"z":"636c15c5.9c93ec","wires":[["ca46911a.35b97"]]},{"id":"d41f4791.2be0b8","type":"mqtt in","name":"AirQuality","topic":"/le/AirQuality/IAQ","broker":"820e2949.7df1d8","x":105,"y":75,"z":"636c15c5.9c93ec","wires":[["2d617637.d29e8a"]]},{"id":"2d617637.d29e8a","type":"json","name":"json parser","x":255,"y":112,"z":"636c15c5.9c93ec","wires":[["41a04d75.be5fb4"]]},{"id":"53e694ee.ac196c","type":"function","name":"ExtractConfigData","func":"\nreturn msg;","outputs":1,"x":319,"y":221,"z":"636c15c5.9c93ec","wires":[["4cff8d7c.b30074"]]},{"id":"a0cd384d.5f32c8","type":"file in","name":"Config","filename":"config.txt","format":"utf8","x":113,"y":221,"z":"636c15c5.9c93ec","wires":[["53e694ee.ac196c"]]},{"id":"e011bb98.1fee48","type":"smooth","count":"10","action":"mean","round":false,"name":"Mean","x":595,"y":87,"z":"636c15c5.9c93ec","wires":[["4cff8d7c.b30074","3d8c48cb.c273b8"]]},{"id":"ca46911a.35b97","type":"json","name":"json parser","x":483,"y":366,"z":"636c15c5.9c93ec","wires":[["d85d3b76.27a2c8","62e97559.9d168c"]]},{"id":"4cff8d7c.b30074","type":"function","name":"NormalThresholdCheck","func":"\nreturn msg;","outputs":1,"x":789,"y":135,"z":"636c15c5.9c93ec","wires":[["1e0519b6.e1fae6"]]},{"id":"1e0519b6.e1fae6","type":"function","name":"VOCLevelMapper","func":"\nreturn msg;","outputs":1,"x":1004,"y":197,"z":"636c15c5.9c93ec","wires":[["d85d3b76.27a2c8"]]},{"id":"d85d3b76.27a2c8","type":"function","name":"ActionSuggestor","func":"\nreturn msg;","outputs":1,"x":1206,"y":255,"z":"636c15c5.9c93ec","wires":[["ce9bd1e7.31643"]]},{"id":"ce9bd1e7.31643","type":"websocket out","name":"WS","server":"1aff8842.e50078","x":1364,"y":293,"z":"636c15c5.9c93ec","wires":[]},{"id":"62e97559.9d168c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":728,"y":483,"z":"636c15c5.9c93ec","wires":[]},{"id":"3d8c48cb.c273b8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":730,"y":46,"z":"636c15c5.9c93ec","wires":[]},{"id":"41a04d75.be5fb4","type":"function","name":"number extractor","func":"msg.payload = msg.payload.e[0].v;\nreturn msg\n","outputs":1,"x":439,"y":134,"z":"636c15c5.9c93ec","wires":[["e011bb98.1fee48"]]}]